# Python
*.pyc
*.pyo
__pycache__/

# Django
*.sqlite3
*/migrations/*

# Virtual environment
.env/
venv/

# Pipenv
Pipfile.lock

# React (Node.js)
node_modules/

# Sensitive files (environment variables)
Backend/.env
.env

# IDE or editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
