.Vault {
  height: 250px;
  width: 100%; /* Use grid-defined width */
  max-width: 290px; /* Limit card width */
  border: 2px solid black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}