.saved-passwords {
    padding: 20px;
    margin-left: 70px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .logo {
    width: 50px; 
    height: 50px;
    object-fit: contain; 
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  /* Floating Add Password Button */
.floating-add-btn {
  position: fixed;
  bottom: 30px; /* Distance from bottom */
  right: 30px;  /* Distance from right */
  background-color: #2C3E50; /* Sidebar color */
  color: white;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000; /* Ensure it’s above other elements */
}

.floating-add-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.floating-add-btn span {
  font-weight: bold;
}
