
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
}

.generated-pass.heading {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  color: #555;
}

input[type="range"] {
  width: 60%;
  accent-color: #689fe2; /* Slider color */
}

/* Checkbox Label Style */
label {
  display: flex;
  align-items: center;
  font-size: 16px;
}

/* Submit Button Style */
.submitButton {
  background-color: #344963; 
  color: #fff;
  padding: 12px 24px;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #364b64; /* Darker shade on hover */
}

/* Generated Password Display */
.generated-pass {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  word-break: break-all;
  color: #333;
}

.generated-pass p {
  margin: 5px 0;
}

/* Password Strength Styles */
.strength {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.strength.weak {
  color: #e74c3c; /* Red for Weak */
}

.strength.medium {
  color: #f1c40f; /* Yellow for Medium */
}

.strength.strong {
  color: #2ecc71; /* Green for Strong */
}
