/* AddPassword.css */

.AddPassword {
    background-color: #f4f7fc;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    
  }
  
  .container {
    width: 100%;
    margin-left: 250px;
    margin-top: 60px;
    max-width: 600px; /* Max width for the form */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
  }  
  
  .heading {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
  }
  
  .subHeading {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #555;
  }
  
  #alert {
    color: green;
    margin-left: 5px;
    font-weight: 600;
  }
  
  .input {
    width: 100%;
    padding: 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 12px 0;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
  }
  
  .input:focus {
    border-color: #79a3cf; /* Highlight input when focused */
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  }
  
  .table {
    margin: 2rem 0;
  }
  
  .passwordItem {
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
  }
  
  .passwordItem:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 10px;
  }
  
  .listValue {
    margin-right: 15px;
    font-size: 16px;
    color: #555;
  }
  
  .listLabel {
    font-weight: 600;
    width: 120px;
    padding: 12px;
    font-size: 16px;
    color: #333;
  }
  
  .showPasswordIcon {
    cursor: pointer;
    margin-left: 16px;
    color: #83b6ec;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .showPasswordIcon:hover {
    color: #486788;
  }
  
  .copyIcon,
  .editIcon,
  .deleteIcon {
    cursor: pointer;
    color: #555;
    font-size: 20px;
    transition: color 0.3s;
    margin-left: 12px;
  }
  
  .copyIcon:hover,
  .editIcon:hover,
  .deleteIcon:hover {
    color: #007bff;
  }
  
  .submitButton {
    background-color: #689fe2; 
    color: #fff;
    padding: 14px 28px;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #364b64; /* Hover color */
  }
  
  
  .noData {
    text-align: center;
    color: #777;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* For Password Copied message */
  .alertMessage {
    color: green;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    animation: fadeIn 2s ease-out;
  }
  
  .successMessage {
    color: #28a745; /* Success green */
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    animation: fadeIn 2s ease-out;
  }
  
  /* For smooth animation of success and alert messages */
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  