*{
    margin: 0px;
    padding: 0px;
}
nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}

.Logo{
    margin-left: 500px;
    height: 45px;
    width: 150px;
}

.heroContainer{
    position: relative;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Hero{
    height: 400px;
    width: 400px;
    user-select:none;
}
.visualText{
    font-family:'Libre Caslon Display', Tahoma, Geneva, Verdana, sans-serif;
    
}

.First{
    position: absolute;
    font-size: 90px;
    font-weight: lighter;
    margin: 30px 300px;
}
.Second{
    position: absolute;
    font-size: 50px;
    font-weight: lighter;
    margin: 130px 860px;
}
.Third{
    position: absolute;
    font-size: 90px;
    font-weight: lighter;
    margin: 180px 900px;
}
.Fourth{
    position: absolute;
    font-size: 80px;
    font-weight: lighter;
    margin: 450px 550px;
}
.textContainer{
    margin: 200px 150px 0;
   
    display: flex; 
    justify-content: space-between;
    
}
.textContainer p{
    width: 700px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: justify;
}
.key{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
.textContainer2{
    margin: 0px 150px 25px;
 
    display: flex;
    justify-content: space-between;
    
}
.textContainer2 p{
    width: 750px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: justify;
}
.key2{
    height: 400px;
    width: 400px;
}
footer{
    background-color: rgb(115, 117, 226);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}










nav button {
    
    height: 50px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}



.pm-container {
    width: 90%; 
    margin: 0 auto;
  }

  .pm-card-box {
    display: flex; 
    justify-content: space-between; 
    padding: 50px 0;
  }

  .pm-card-item {
    width: 28%; 
    height: 220px; /
    margin: 0 10px; 
    overflow: hidden;
    border-radius: 28px;
    background-color: #DFF3FC; 
    padding: 30px 20px;
    position: relative;
    transition: color 0.5s ease;
  }
  
  .pm-card-item:hover {
    color: #FFF; /* Change text color to white on hover */
  }
  
  .pm-card-title {
    min-height: 87px;
    margin: 0 0 25px;
    font-weight: bold;
    font-size: 24px; 
    color: #000; 
    position: relative;
    z-index: 2; 
  }
  
  .pm-card-bg {
    height: 128px;
    width: 128px;
    background-color: #eebd69;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: transform 0.5s ease; 
    z-index: 1; 
  }
  
  .pm-card-item:hover .pm-card-bg {
    transform: scale(10); 
  }
  
  
  .pm-card-item:nth-child(2n) .pm-card-bg {
    background-color: #94eba7;
  }
  
  .pm-card-item:nth-child(3n) .pm-card-bg {
    background-color: #e49376;
  }
  
  /* Responsive adjustments */
  @media only screen and (max-width: 979px) {
    .pm-card-item {
      width: 48%;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .pm-card-item {
      width: 100%;
    }
  }
  