* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #dcf1fa; /* Light background color */
}

/* Home container */
.Home {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar container */
.HomeSidebar {
  flex: 0 0 auto; /* Sidebar width is fixed */
}
/* Vaults grid container */
.Vaults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
  flex-grow: 1;
  padding: 20px;
  overflow-x: hidden;
}

/* Vault card */
.CredVault {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #3f1ef9; /* Primary color for border */
  border-radius: 15px;
  background-color: #dcf1fa; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.CredVault:hover {
  transform: translateY(-3px); /* Slight lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

/* Credential details */
.CredUsername, .CredPassword, .CredNotes {
  width: 350px;
}

.CredUsername{
  margin-top: 5px;
  margin-bottom: 40px;
}


textarea {
  height: 85px;
  width: 300px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

/* Show/Hide password button */
.show {
  background-color: #3AA6B9; /* Primary color */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.show:hover {
  background-color:#98FB98; /* Secondary color */
}

/* Create Label Button */
.createLabel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #3AA6B9; /* Primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.createLabel:hover {
  background-color: #98FB98; /* Secondary color */
  transform: translateY(-2px);
}


/* Modal styles */
.Modal {
  background-color: #ffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.Modal h2 {
  margin-bottom: 20px;
  color: #3AA6B9; /* Primary color for heading */
}

/* .Modal button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3AA6B9; /* Primary color */
  /*color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Modal button:hover {
  background-color: #97E7E1; /* Secondary color */
/*} */

.edit{
  background-color:#3AA6B9 ;
  color: white;
}

.edit:hover{
  background-color: #98FB98;
}

.close{
  background-color: #3AA6B9;
  color: white;
}

.close:hover{
  background-color:#98FB98 ;
}

.Delete-vault{
  background-color: #3AA6B9;
  color: white;
  margin-left: 5px;
}

.Delete-vault:hover{
  background-color: red;
}

.Add-Credential{
  background-color: #3AA6B9;
  color: white;
  margin-left: 5px;
}

.Add-Credential:hover{
  background-color: #98FB98;
}


