* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Home container */
.Home {
  display: flex;
  width: 100%; /* Full-width layout */
  height: 100vh;
  overflow: hidden; /* Prevent overflow */
}

/* Sidebar container */
.HomeSidebar {
  flex: 0 0 auto; /* Sidebar width is fixed */
}

/* Vaults grid container */
.Vaults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)); /* Adjust card width */
  gap: 20px; /* Space between cards */
  flex-grow: 1; /* Allow grid to grow */
  padding: 20px;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
.CredVault{
  box-sizing: border-box;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin:5px;
  border: 1px solid black;
  border-radius: 50px;
}
textarea{
  height: 85px;
  width: 300px;
}
.CredUsername{
  width: 350px;
}